<footer>
    <div class="footerleft">
        <div class="logo">
            <div class="logo-symbol"><span>KD</span></div>
            <div class="logo-text">
                <span>Kadir</span><br />
                <span>Demir</span>
            </div>
        </div>
        <p>{{ "footer.webdev" | translate }}
            <br>
            {{ "footer.location" | translate }}</p>
    </div>
    <div class="footermid">
        <span>© Kadir Demir 2025</span>
    </div>
    <div class="footerright">
        <a href="">Github</a>
        <a href="">LinkedIn</a>
        <a href="">Email</a>
        <a href="">{{ "footer.imprint" | translate }}</a>
    </div>
</footer>