footer {
  padding-bottom: 32px;
  height: auto;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Fira Code", sans-serif;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.logo-symbol {
  font-size: 72px;
  font-weight: 500;
  color: #3dcfb6;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}

.logo-text span:first-child {
  color: white;
}

.logo-text span:last-child {
  color: white;
}

.logo-text span {
  font-size: 24px;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease-in-out;
}

/* Hover-Effekt */
.logo:hover .logo-symbol span {
  color: transparent;
  -webkit-text-stroke: 1px #3dcfb6;
}

.logo:hover .logo-text span {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.footerleft {
  p {
    color: #ffffff;
    font-size: 16px;
  }
}

.footermid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  span {
    font-size: 18px;
    color: #3dcfb6;
    font-family: "fira code", sans-serif;
  }
}

.footerright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    position: relative;
    cursor: pointer;

    &:hover {
      color: #3dcfb6;
    }

    &::before {
      content: "";
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background-color: transparent;
      border-radius: 50%;
      transition: background-color 0.3s ease;
    }

    &:hover::before {
      background-color: #3dcfb6;
    }
  }
}

.footermidmobile {
  display: none;
}

@media (max-width: 480px) {
  .footermid {
    display: none;
  }

  .footermidmobile {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    span {
      font-size: 18px;
      color: #3dcfb6;
      font-family: "fira code", sans-serif;
    }
  }
}

@media (min-width: 300px) and (max-width: 479px) {
  footer {
    padding: 12px;
  }
}
