<footer>
    <div class="footerleft">
        <div class="logo">
            <div class="logo-symbol"><span>KD</span></div>
            <div class="logo-text">
                <span>Kadir</span><br />
                <span>Demir</span>
            </div>
        </div>
        <p>{{ "footer.webdev" | translate }}
            <br>
            {{ "footer.location" | translate }}
        </p>
    </div>
    <div class="footermid">
        <span>© Kadir Demir 2025</span>
    </div>
    <div class="footerright">
        <a href="https://github.com/Kadir-Demir-1988" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/kadir-demir-53620334b" target="_blank">LinkedIn</a>
        <a href="mailto:contact&#64;kadir-demir.de">Email</a>
        <a routerLink="/imprint">{{ "footer.imprint" | translate }}</a>
    </div>


</footer>
<div class="footermidmobile">
    <span>© Kadir Demir 2025</span>
</div>