<div class="testimonial-carousel">
    <h2>{{ "testimonials.intro" | translate }}</h2>

    <div class="carousel">
        <div *ngFor="let key of testimonialKeys; let i = index" class="slide" [class.active]="i === currentIndex">
            <div class="content">
                <p>{{ "testimonials.quote." + key + ".text" | translate }}</p>
            </div>
            <div class="author">
                <span>{{ "testimonials.quote." + key + ".author" | translate }}</span>
            </div>
            <img class="quote-icon" src="assets/img/quotes.svg" alt="Quote Icon" />
        </div>
    </div>

    <div class="carousel-controls">
        <button (click)="previousBtn()">←</button>
        <div class="dots">
            <span *ngFor="let key of testimonialKeys; let i = index" class="dot" [class.active]="i === currentIndex"
                (click)="goToSlide(i)"></span>
        </div>
        <button (click)="nextBtn()">→</button>
    </div>
</div>