.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 5rem;

  img {
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: "Fira Code";
    font-size: 20px;
    position: relative;

    &:hover {
      color: #3dcfb6;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
      width: 6px;
      height: 6px;
      background-color: #3dcfb6;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &:hover::after {
      opacity: 1;
      transform: translateX(-50%) translateY(2px); // Optional, für eine leichte Bewegung
    }
  }
}
