<div class="aboutme">
    <div class="aboutmecontent">
        <div data-aos="flip-left" data-aos-duration="1500" class="aboutmetextbox">
            <p>{{ 'aboutMe.intro' | translate }}</p>
            <div class="aboutmetext">
                <h1>{{ 'aboutMe.title' | translate }}</h1>
                <span>
                    {{ 'aboutMe.description' | translate }}
                </span>

                <div class="skills">
                    <img src="assets/img/aboutmebtn/Property 1=location_on.svg">
                    <span>
                        {{ 'aboutMe.skills.0' | translate }}
                    </span>
                </div>

                <div class="skills">
                    <img src="/assets/img/aboutmebtn/cognition.svg">
                    <span>
                        {{ 'aboutMe.skills.1' | translate }}
                    </span>
                </div>

                <div class="skills">
                    <img src="/assets/img/aboutmebtn/Property 1=Quality.svg">
                    <span>
                        {{ 'aboutMe.skills.2' | translate }}
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div data-aos="flip-right" data-aos-duration="1500" class="profilcontain"><img class="profilimg" src="/assets/img/profilimg.png"></div>
</div>