@use "../../assets/styles/mixins.scss" as *;

.projectcontainer {
  background-color: #1c1c1c;
  padding-top: 100px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  @include display(flex, column, flex-start, flex-start);
  gap: 32px;
  padding-left: 32px;

  span {
    font-size: 24px;
    color: #3dcfb6;
  }

  h2 {
    @include font-style("fira code", 64px, $blue);
  }

  p {
    @include font-style("karla", 18px, $white);
  }
}

.projects {
  @include centered-container(1440px, 42px, 32px);
  @include flexbox(column);
}

.project-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 880px;
  border-top: 1px solid #3dcfb6;
  padding: 40px 32px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;

  h3 {
    @include font-style("fira code", 24px, $white);
  }

  &:hover .arrowout {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
  }

  &:hover {
    background-color: rgba(61, 207, 182, 0.3);
  }

  .project-hover-image {
    position: absolute;
    right: -350px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  &:hover .project-hover-image {
    opacity: 1;
    visibility: visible;
  }
}

.leftsideproject {
  display: flex;
  gap: 16px;

  .arrowout {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
}

::ng-deep .divider {
  @include font-style("karla", 18px, $blue);
}

::ng-deep .tech {
  @include font-style("karla", 18px, $white);
}

.border-bottom {
  border-bottom: 1px solid #3dcfb6;
  margin-bottom: 50px;
}

.projectsdetails {
  @include flexbox(row, center, space-around);

  height: 656px;
  max-width: 1248px;
  border: 1px solid #3dcfb6;
  border-radius: 30px;
  background: linear-gradient(20deg, #1c1c1c, #08463b);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1c1c1c;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.5s ease, opacity 0.5s ease;

  &.hidden {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    animation: myAnimeexit 2s ease 0s 1 normal forwards;
  }

  &.visible {
    animation: myAnim 0.5s ease-out forwards;
  }

  .leftcontent {
    width: 500px;
    height: auto;
    gap: 40px;
    display: flex;
    flex-direction: column;

    h2 {
      @include font-style("karla", 128px, $blue);
    }

    h3 {
      @include font-style("fira code", 64px, $white);
    }

    p {
      @include font-style("fira code", 24px, $blue);
      font-weight: 700;
    }

    span {
      @include font-style("karla", 18px, $white);
    }

    .stack-images {
      display: flex;
      justify-content: flex-start;
      gap: 16px;
    }

    .buttoncontainer {
      display: flex;
      gap: 32px;

      button {
        background-color: transparent;
        border: 1px solid #ffffff;
        border-radius: 50px;
        padding: 16px 24px;
        cursor: pointer;

        &:hover {
          border: 1px solid #3dcfb6;
        }

        &:hover {
          border: 1px solid #3dcfb6;

          a {
            color: #3dcfb6;
          }
        }

        a {
          display: flex;
          justify-content: center;
          gap: 8px;
          color: #ffffff;
          font-size: 18px;
          text-decoration: none;
        }
      }
    }
  }
}

.rightcontent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 520px;
  height: 608px;

  .closeposition {
    display: flex;
    justify-content: flex-end;

    .closetemplate {
      height: 48px;

      &:hover {
        content: url("/assets/img/projectimg/closehover.svg");
        cursor: pointer;
      }
    }
  }

  .template-img {
    width: 520px;
    height: auto;
  }

  .nextcontainer {
    display: flex;
    justify-content: flex-end;

    button {
      animation: myAnime 2s ease 0s 1 normal forwards;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      @include font-style("karla", 18px, $blue);
      cursor: pointer;
      gap: 8px;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  margin: 0;
}

@media screen and (max-width: 1300px) {
  .projectcontainer {
    max-width: 1024px;

    h2 {
      font-size: 48px;
    }

    p {
      font-size: 16px;
    }
  }

  .project-card {
    width: 500px;
    padding: 24px 24px;

    h3 {
      font-size: 20px;
    }

    ::ng-deep .tech {
      font-size: 16px;
    }

    .project-hover-image {
      width: 250px;
    }
  }

  .projectsdetails {
    height: 540px;
    width: 950px;

    .leftcontent {
      gap: 16px;
      h2 {
        font-size: 100px;
      }

      h3 {
        font-size: 56px;
      }

      span {
        font-size: 16px;
      }

      .buttoncontainer {
        button {
          padding: 12px 18px;
          a {
            font-size: 16px;
          }
        }
      }
    }

    .rightcontent {
      align-items: flex-end;
      height: 540px;

      .template-img {
        width: 460px;
      }
    }
  }
}

@media (max-width: 768px) {
  .projects {
    width: 700px;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .projectcontainer {
    width: 700px;
    padding-left: 0;
  }

  .project-hover-image {
    display: none;
  }
  .project-card {
    width: auto;
  }

  .projectsdetails {
    justify-content: center;
    flex-direction: column-reverse;
    height: 865px;
    width: 700px;
    .rightcontent {
      height: 410px;
      display: flex;
      align-items: flex-start;
      flex-direction: column-reverse;

      .closeposition {
        position: absolute;
        top: 20px;
        right: 20px;
      }

      .nextcontainer {
        button {
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .projects {
    width: 460px;
    padding: 0;
    margin-left: 10px;
  }

  .projectcontainer {
    width: 460px;
  }

  .project-card {
    width: 410px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
  }

  .projectsdetails {
    justify-content: center;
    height: auto;
    width: 450px;
    .rightcontent {
      height: 50px;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;

      .template-img {
        display: none;
      }

      .closeposition {
        position: absolute;
        top: 20px;
        right: 20px;
      }

      .nextcontainer {
        button {
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
      }
    }
    .leftcontent {
      width: 410px;
      gap: 16px;
      margin-bottom: 125px;

      h2 {
        font-size: 72px;
      }

      h3 {
        font-size: 48px;
      }

      .buttoncontainer {
        margin-top: 16px;
        justify-content: center;
        gap: 32px;
        margin-bottom: 16px;
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 480px) {
  main {
    width: 310px;
  }
  .projectcontainer {
    width: 310px;
    padding-top: 20px;
  }

  .projects {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }

  .project-card {
    width: 300px;
  }

  .rightcontent {
    .closeposition {
      .closetemplate {
        height: 32px;
      }
    }
  }

  .projectsdetails {
    justify-content: center;
    height: 600px;
    width: 310px;
    .rightcontent {
      height: 200px;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;

      .template-img {
        width: 270px;
      }

      .closeposition {
        position: absolute;
        top: 20px;
        right: 20px;
      }

      .nextcontainer {
        button {
          position: absolute;
          bottom: 10px;
          right: 20px;
          height: 25px;
        }
      }
    }
    .leftcontent {
      width: 250px;
      gap: 4px;

      h2 {
        font-size: 48px;
      }

      h3 {
        font-size: 24px;
      }

      p {
        font-size: 18px;
      }

      span {
        font-size: 14px;
      }

      .buttoncontainer {
        justify-content: center;
        gap: 32px;
        margin-top: 8px;
        margin-bottom: 0;

        button {
          padding: 6px 9px;
        }
      }

      .stack-images {
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100px;
        grid-auto-rows: auto;
      }
    }
  }
}
