<div class="contactpage">
    <div class="contactcontainer">
        <div class="contacttext">
            <h1>{{"contact.h1" | translate}}</h1>
            <h2>{{"contact.h2" | translate}}</h2>
            <h3>{{"contact.h3" | translate}}</h3>
            <p [innerHTML]="'contact.description' | translate"></p>
            <br>
            <span>{{"contact.talk" | translate }}</span>
        </div>
    </div>

    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

        <div class="form-group">
            <label for="name">{{ "contactform.name" | translate }}</label>
            <input type="text" id="name" name="name" [placeholder]="nameInput.invalid && nameInput.touched 
                    ? ('contactform.namemissing' | translate) 
                    : ('contactform.nameinput' | translate)" required [(ngModel)]="userName" #nameInput="ngModel" />
        </div>

        <div class="form-group">
            <label for="email">{{ "contactform.email" | translate }}</label>
            <input type="email" id="email" name="email" [placeholder]="emailInput.invalid && emailInput.touched
                  ? ('contactform.emailmissing' | translate)
                  : ('contactform.emailinput' | translate)" required ngModel email #emailInput="ngModel" />
        </div>

        <div class="form-group-message">
            <label for="message">{{ "contactform.help" | translate }}</label>
            <textarea id="message" name="message" [placeholder]="messageInput.invalid && messageInput.touched
                  ? ('contactform.helpmissing' | translate)
                  : ('contactform.helpinput' | translate)" ngModel required #messageInput="ngModel"></textarea>
        </div>

        <div class="form-group-checkbox">
            <div class="custom-checkbox">
                <input type="checkbox" id="privacy-policy" name="privacyPolicy" [(ngModel)]="isChecked" required
                    hidden />
                <label for="privacy-policy">
                    <img [src]="isChecked ? '/assets/img/contactimg/checkedbox.svg' : '/assets/img/contactimg/checkbox.svg'"
                        [alt]="isChecked ? 'Checked' : 'Unchecked'" class="checkbox-icon" />
                </label>
            </div>

            <label for="privacy-policy">
                {{ "contactform.privacyPolicy.start" | translate }}
                <a href="#" class="privacy-link">{{ "contactform.privacyPolicy.link" | translate }}</a>
                {{ "contactform.privacyPolicy.end" | translate }}
            </label>

        </div>
        <p class="error-message" *ngIf="!isChecked && isTouched">
            {{ "contactform.privacyPolicy.accept" | translate }}
        </p>

        <button type="submit" [disabled]="contactForm.invalid">{{ "contactform.privacyPolicy.button" | translate }}</button>

    </form>


</div>