<div data-aos="zoom-in-down" data-aos-duration="1500" class="contactpage">
    <div class=" contactcontainer">
        <div class="contacttext">
            <h1>{{"contact.h1" | translate}}</h1>
            <h2>{{"contact.h2" | translate}}</h2>
            <h3>{{"contact.h3" | translate}}</h3>
            <p [innerHTML]="'contact.description' | translate"></p>
            <br>
            <span>{{"contact.talk" | translate }}</span>
        </div>
    </div>

    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

        <div class="form-group-name">
            <label for="name">{{ "contactform.name" | translate }}</label>

            <input type="text" id="name" name="name" [(ngModel)]="contactData.userName" #nameInput="ngModel" required
                pattern="^[A-Za-zÄÖÜäöüß]+(?: [A-Za-zÄÖÜäöüß]+)*$" [placeholder]="nameInput.invalid && nameInput.touched 
                    ? ('contactform.namemissing' | translate) 
                    : ('contactform.nameinput' | translate)"
                [ngClass]="{'invalid': nameInput.invalid && nameInput.touched}"
                (input)="nameInput.control.updateValueAndValidity()" />

            <div class="error-message" *ngIf="nameInput.errors?.['pattern'] && nameInput.touched">
                <p>{{ "contactform.invalidname" | translate }}</p>
            </div>
        </div>

        <div class="form-group-mail">
            <label for="email">{{ "contactform.email" | translate }}</label>

            <input type="email" id="email" name="email" [(ngModel)]="contactData.userEmail" #emailInput="ngModel"
                required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" [placeholder]="emailInput.invalid && emailInput.touched
                    ? ('contactform.emailmissing' | translate)
                    : ('contactform.emailinput' | translate)"
                [ngClass]="{'invalid': emailInput.invalid && emailInput.touched}"
                (keyup)="emailInput.control.updateValueAndValidity()" />

            <div class="error-message" *ngIf="emailInput.errors?.['pattern'] && emailInput.touched">
                <p>{{ "contactform.invalidemail" | translate }}</p>
            </div>
        </div>

        <div class="form-group-message">
            <label for="message">{{ "contactform.help" | translate }}</label>

            <textarea id="message" name="message" [(ngModel)]="contactData.userMessage" #messageInput="ngModel"
                minlength="10" [placeholder]="messageInput.invalid && messageInput.touched
                    ? ('contactform.helpmissing' | translate)
                    : ('contactform.helpinput' | translate)"
                [ngClass]="{'invalid': messageInput.invalid && messageInput.touched}"
                (input)="messageInput.control.updateValueAndValidity()">
            </textarea>

            <div class="error-message" *ngIf="messageInput.errors?.['minlength'] && messageInput.touched">
                <p>{{ "contactform.tooshort" | translate }}</p>
            </div>
        </div>

        <div class="form-group-checkbox">
            <div class="custom-checkbox">
                <input type="checkbox" id="privacy-policy" name="privacyPolicy" [(ngModel)]="isChecked" required
                    hidden />
                <label for="privacy-policy">
                    <img [src]="isChecked ? '/assets/img/contactimg/checkedbox.svg' : '/assets/img/contactimg/checkbox.svg'"
                        [alt]="isChecked ? 'Checked' : 'Unchecked'" class="checkbox-icon" />
                </label>
            </div>

            <label for="privacy-policy">
                {{ "contactform.privacyPolicy.start" | translate }}
                <a routerLink="/privacy-policy" class="privacy-link">{{ "contactform.privacyPolicy.link" | translate
                    }}</a>
                {{ "contactform.privacyPolicy.end" | translate }}
            </label>

        </div>
        <p class="error-message" *ngIf="!isChecked && isTouched">
            {{ "contactform.privacyPolicy.accept" | translate }}
        </p>
        <div class="buttoncontain">
            <button type="submit" [disabled]="contactForm.invalid">{{ "contactform.privacyPolicy.button" | translate
                }}</button>
        </div>


    </form>

    <div class="success-message" *ngIf="messageSent">
        {{"successmessage" | translate}}
    </div>


</div>