<div class="content-main">
    <app-header></app-header>
    <div class="privacypolice">
        <div class="privacytext">
            <h1>{{ 'privacy.title' | translate }}</h1><br>

            <h2>{{ 'privacy.section1.title' | translate }}</h2><br>

            <h3>{{ 'privacy.section1.subtitle1' | translate }}</h3><br>

            <p>{{ 'privacy.section1.text1' | translate }}</p><br>

            <h3>{{ 'privacy.section1.subtitle2' | translate }}</h3><br>

            <h4>{{ 'privacy.section1.subtitle3' | translate }}</h4><br>
            <p>{{ 'privacy.section1.text2' | translate }}</p><br>

            <h4>{{ 'privacy.section1.subtitle4' | translate }}</h4><br>
            <p>{{ 'privacy.section1.text3' | translate }}</p><br>

            <h4>{{ 'privacy.section1.subtitle5' | translate }}</h4><br>
            <p>{{ 'privacy.section1.text4' | translate }}</p>

            <h2>{{ 'privacy.section2.title' | translate }}</h2>
            <p>{{ 'privacy.section2.text1' | translate }}</p>

            <h3>{{ 'privacy.section2.hosting' | translate }}</h3>
            <p>{{ 'privacy.section2.hosting_details' | translate }}</p>

            <h4>{{ 'privacy.section2.avv' | translate }}</h4>
            <p>{{ 'privacy.section2.avv_text' | translate }}</p>

            <h2>{{ 'privacy.section3.title' | translate }}</h2>
            <h3>{{ 'privacy.section3.subtitle1' | translate }}</h3>
            <p>{{ 'privacy.section3.text1' | translate }}</p>

            <h3>{{ 'privacy.section3.responsible' | translate }}</h3>
            <p>{{ 'privacy.section3.responsible_text' | translate }}</p>

            <h3>{{ 'privacy.section3.storage' | translate }}</h3>
            <p>{{ 'privacy.section3.storage_text' | translate }}</p>

            <h3>{{ 'privacy.section3.legal_basis' | translate }}</h3>
            <p>{{ 'privacy.section3.legal_basis_text' | translate }}</p>

            <h3>{{ 'privacy.section3.data_recipients' | translate }}</h3>
            <p>{{ 'privacy.section3.data_recipients_text' | translate }}</p>

            <h3>{{ 'privacy.section3.withdrawal' | translate }}</h3>
            <p>{{ 'privacy.section3.withdrawal_text' | translate }}</p>

            <h3>{{ 'privacy.section3.complaint' | translate }}</h3>
            <p>{{ 'privacy.section3.complaint_text' | translate }}</p>

            <h3>{{ 'privacy.section3.data_transfer' | translate }}</h3>
            <p>{{ 'privacy.section3.data_transfer_text' | translate }}</p>

            <h2>{{ 'privacy.section4.title' | translate }}</h2>
            <h3>{{ 'privacy.section4.contact_form' | translate }}</h3>
            <p>{{ 'privacy.section4.contact_form_text' | translate }}</p>

            <h3>{{ 'privacy.section4.email_phone' | translate }}</h3>
            <p>{{ 'privacy.section4.email_phone_text' | translate }}</p>

            <h2>{{ 'privacy.section5.title' | translate }}</h2>
            <h3>{{ 'privacy.section5.google_fonts' | translate }}</h3>
            <p>{{ 'privacy.section5.google_fonts_text' | translate }}</p>


        </div>
    </div>
    <app-footer></app-footer>
</div>