<div class="content-main">
    <app-header></app-header>
    <div class="privacypolice">
        <div class="privacytext">
            <h1>{{ 'privacy.title' | translate }}</h1><br>
            <h2>{{ 'privacy.section1.title' | translate }}</h2><br>
            <h3>{{ 'privacy.section1.subtitle1' | translate }}</h3><br>
            <p>{{ 'privacy.section1.text1' | translate }}</p><br>
            <h3>{{ 'privacy.section1.subtitle2' | translate }}</h3><br>
            <h4>{{ 'privacy.section1.subtitle3' | translate }}</h4><br>
            <p>{{ 'privacy.section1.text2' | translate }}</p><br>
            <h4>{{ 'privacy.section1.subtitle4' | translate }}</h4><br>
            <p>{{ 'privacy.section1.text3' | translate }}</p><br>
            <p>{{ 'privacy.section1.text4' | translate }}</p><br>
            <h4>{{ 'privacy.section1.subtitle5' | translate }}</h4><br>
            <p>{{ 'privacy.section1.text6' | translate }}</p><br>
            <p>{{ 'privacy.section1.text7' | translate }}</p><br>

            <h2>{{ 'privacy.section2.title' | translate }}</h2><br>
            <p>{{ 'privacy.section2.text1' | translate }}</p><br>
            <h3>{{ 'privacy.section2.hosting' | translate }}</h3><br>
            <p>{{ 'privacy.section2.hosting_details' | translate }}</p><br>
            <a href="">https://all-inkl.com/datenschutzinformationen/</a><br>
            <p>{{ 'privacy.section2.hosting_detail' | translate }}</p><br>
            <h4>{{ 'privacy.section2.avv' | translate }}</h4><br>
            <p>{{ 'privacy.section2.avv_text' | translate }}</p><br>

            <h2>{{ 'privacy.section3.title' | translate }}</h2><br>
            <h3>{{ 'privacy.section3.subtitle1' | translate }}</h3><br>
            <p>{{ 'privacy.section3.text1' | translate }}</p><br>
            <p>{{ 'privacy.section3.text2' | translate }}</p><br>
            <p>{{ 'privacy.section3.text3' | translate }}</p><br>
            <h3>{{ 'privacy.section3.responsible' | translate }}</h3><br>
            <p>{{ 'privacy.section3.responsible_text' | translate }}</p><br>
            <p>{{ 'privacy.section3.responsible_detail' | translate }}</p><br>
            <h3>{{ 'privacy.section3.storage' | translate }}</h3><br>
            <p>{{ 'privacy.section3.storage_text' | translate }}</p><br>
            <h3>{{ 'privacy.section3.legal_basis' | translate }}</h3><br>
            <p>{{ 'privacy.section3.legal_basis_text' | translate }}</p><br>
            <h3>{{ 'privacy.section3.data_recipients.title' | translate }}</h3><br>
            <p>{{ 'privacy.section3.data_recipients.text' | translate }}</p><br>
            <h3>{{ 'privacy.section3.withdrawal_consent.title' | translate }}</h3><br>
            <p>{{ 'privacy.section3.withdrawal_consent.text' | translate }}</p><br>
            <h3>{{ 'privacy.section3.objection_right.title' | translate }}</h3><br>
            <p>{{ 'privacy.section3.objection_right.text' | translate }}</p><br>
            <h3>{{ 'privacy.section3.complaint_right.title' | translate }}</h3><br>
            <p>{{ 'privacy.section3.complaint_right.text' | translate }}</p><br>
            <h3>{{ 'privacy.section3.data_portability.title' | translate }}</h3><br>
            <p>{{ 'privacy.section3.data_portability.text' | translate }}</p><br>
            <h3>{{ 'privacy.section3.data_correction_deletion.title' | translate }}</h3><br>
            <p>{{ 'privacy.section3.data_correction_deletion.text' | translate }}</p><br>
            <h3>{{ 'privacy.section3.restriction_right.title' | translate }}</h3><br>
            <p>{{ 'privacy.section3.restriction_right.text' | translate }}</p><br>
            <h3>{{ 'privacy.section3.ssl_tls_encryption.title' | translate }}</h3><br>
            <p>{{ 'privacy.section3.ssl_tls_encryption.text' | translate }}</p><br>

            <h2>{{ 'privacy.section4.title' | translate }}</h2><br>
            <h3>{{ 'privacy.section4.contact_form.title' | translate }}</h3><br>
            <p>{{ 'privacy.section4.contact_form.text' | translate }}</p><br>
            <h3>{{ 'privacy.section4.email_phone_fax.title' | translate }}</h3><br>
            <p>{{ 'privacy.section4.email_phone_fax.text' | translate }}</p><br>

            <h2>{{ 'privacy.section5.title' | translate }}</h2><br>
            <h3>{{ 'privacy.section5.google_fonts.title' | translate }}</h3><br>
            <p>{{ 'privacy.section5.google_fonts.description' | translate }}</p><br>

            <p>{{ 'privacy.section5.google_fonts.additional_info.text' | translate }}</p><br>
            <a href="https://developers.google.com/fonts/faq">https://developers.google.com/fonts/faq</a><br>

            <p>{{ 'privacy.section5.google_fonts.additional_info.adtext' | translate }}</p><br>
            <a href="https://policies.google.com/privacy?hl=de">https://policies.google.com/privacy?hl=de</a><br>

            <p>{{ 'privacy.section5.google_fonts.additional_info.source' | translate }}</p><br>
            <a href="https://www.e-recht24.de/">https://www.e-recht24.de/</a><br>
        </div>
    </div>
    <app-footer></app-footer>
</div>