<div class="content-main">
    <app-header></app-header>

    <div class="imprint">
        <div class="imprinttext">
            <h1>{{'imprint.title' | translate}}</h1>

            <p>Kadir Demir<br>
                John-Locke Str. 24<br>
                12305 Berlin
            </p>



            <h2>{{'imprint.contact' | translate}}</h2>

            <p>
                Telefon: +49 (0) 176 64 22 22 89<br />
                E-Mail: k.demir1988(at)gmail.com
            </p>



        </div>
    </div>
    <app-footer></app-footer>
</div>