@use "assets/styles/fonts.scss" as *;

* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "karla", sans-serif;
}

body {
  background-color: #1c1c1c;
}

.font-firacode {
  font-family: "Fira Code";
}

html,
body {
  height: 100%;
  width: 100%;
}

#skills {
  background: radial-gradient(circle at 0% 50%, #08463b -10%, #1c1c1c 20%);
  display: flex;
  margin-top: 5%;
  overflow-x: clip;
}
