@use 'assets/styles/fonts.scss' as *;

* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "karla", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #1c1c1c;
}

.font-firacode {
  font-family: "Fira Code";
}



html,
body {
  height: 100%;
  width: 100%;
}
