@use "assets/styles/fonts.scss" as *;

* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "karla", sans-serif;
}

body {
  background-color: #1c1c1c;
}

.font-firacode {
  font-family: "Fira Code";
}

html,
body {
  height: 100%;
  width: 100%;
}

#skills {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#projects {
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3dcfb6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2aa68a;
}
