@use "../../assets/styles/mixins.scss" as *;

section {
  @include flexbox(row, center, space-between, 8rem);
  @include centered-container();
  margin-top: 5%;
  width: 100%;
}

.skillsettext {
  max-width: 520px;
  p {
    @include typography(24px, #3dcfb6, 700);
  }
}

.skillsetbox {
  @include box-style(32px, auto, 30px, #3dcfb6, rgba(61, 207, 182, 0.1), 24px);
  @include flexbox(column, flex-start, flex-start, 40px);

  h1 {
    @include typography(64px, #3dcfb6, 700);
    margin-bottom: 16px;
  }

  span {
    font-size: 18px;
    font-family: "Karla";
    font-weight: 400;
    color: white;
  }

  p {
    color: white;
    font-size: 16px;
    font-family: "Karla";
    font-weight: 400;
  }
}

.dual-color-heading {
  font-size: 24px;
  color: white;
  font-weight: 700;
  font-family: "fira code";

  span {
    font-family: "fira code";
    color: #3dcfb6;
    font-size: 24px;
    font-weight: 700;
  }
}

.talkbtn {
  display: inline-block;
  height: auto;
  min-height: 48px;
  width: auto;
  max-width: 170px;
  padding: 0 24px;
  border-radius: 100px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-family: "Karla";
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-align: center;
  &:hover {
    border-color: #3dcfb6;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Karla";
    white-space: nowrap;
    position: relative;
    left: 0;
    transform: translateX(0);
    transition: none;
  }

  &:hover {
    border: 1px solid #3dcfb6;
  }

  &:hover a {
    color: #3dcfb6;
    animation: moveText 2s linear infinite;
  }
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 632px;
}

.skill-item {
  flex: 0 1 calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.skill-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.skill-label {
  font-family: "fira code";
  font-size: 18px;
  color: white;
}

.skill-icon.material-design {
  margin-top: 5px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  .skill-item {
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    .skill-label {
      margin-top: 10px;
      color: white;
      transition: color 0.3s ease;
    }

    &:hover .skill-label {
      color: #3dcfb6;
    }

    &.special-skill {
      .skill-label {
        color: #ffffff;

        &:hover {
          color: #3dcfb6;
        }
      }

      .special-popup {
        position: absolute;
        top: -130px;
        left: 0;
        transform: translateX(5%);
        display: block;
        background-color: transparent;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        width: auto;
      }

      &:hover .special-popup {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  section {
    max-width: 1000px;
    margin: 20px;
    gap: 1rem;
  }

  .skillsetbox {
    margin-top: 8px;
    gap: 20px;
    width: 380px;
    span {
      font-size: 16px;
    }

    h2 {
      font-size: 16px;
      span {
        font-size: 16px;
      }
    }

    p {
      font-size: 16px;
    }

    h1 {
      font-size: 32px;
    }
  }

  .talkbtn {
    span {
      font-size: 18px;
    }
  }

  .skill-icon {
    width: 50px;
    height: 50px;
  }

  .skills-container {
    .skill-item {
      &.special-skill {
        .special-popup {
          left: -25px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    align-items: center;
    width: 700px;
  }

  .skillsetbox {
    width: 550px;
  }
}

@media (max-width: 480px) {
  section {
    width: 460px;
  }
  .skillsetbox {
    width: auto;
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 20px;
    width: 380px;
    gap: 10px;
  }
}

@media (min-width: 300px) and (max-width: 479px) {
  section {
    width: 310px;
    margin: 0 auto;
  }

  .skills-container {
    width: 270px;
  }
}
