<main>
    <div class="content-main">
        <div class="namecontainer">
            <div>
                <p>Frontend Developer</p>
            </div>
            <div>
                <span>Kadir Demir</span>
            </div>
            <div class="btncontainer">
                <button class="homebtn"><span>Check my Work</span></button>
                <button class="homebtn"><span>Contact Me</span></button>
            </div>
        </div>
        <div class="leftlateral">
            <img src="assets/img/Left Lateral.svg">
        </div>
        <div class="rightvector">
            <div class="email-vertical">
                K.demir1988&#64;gmail.com
            </div>
            <div class="social-links">
                <a href="https://github.com" target="_blank" class="social-link social-github">
                  <img src="assets/img/contactimg/Github(1).svg" alt="GitHub" />
                </a>
                <a href="https://linkedin.com" target="_blank" class="social-link social-linkedin">
                  <img src="assets/img/contactimg/Linkedin(1).svg" alt="LinkedIn" />
                </a>
              </div>
              
            <img src="assets/img/Vector 1.svg">
        </div>
        <div class="marquee">
            <div class="marquee-content">
                <span>Available for remote work</span>
                <span>Frontend Developer</span>
                <span>Based in Berlin</span>
                <span>Open to work</span>
                <span>Open to new opportunities</span>
                <!-- Inhalte duplizieren -->
                <span>Available for remote work</span>
                <span>Frontend Developer</span>
                <span>Based in Berlin</span>
                <span>Open to work</span>
                <span>Open to new opportunities</span>
            </div>
        </div>

    </div>
</main>