<main>
    <div class="content-main">
        <app-header></app-header>
        <div class="namecontainer">
            <div>
                <p>{{ 'home.role' | translate }}</p>
            </div>
            <div>
                <span>{{ 'home.name' | translate }}</span>
            </div>
            <div class="btncontainer">
                <button class="homebtn">
                    <span>{{ 'home.checkWork' | translate }}</span>
                </button>
                <button class="homebtn">
                    <span>{{ 'home.contactMe' | translate }}</span>
                </button>
            </div>
        </div>
        <div class="leftlateral">
            <img src="assets/img/Left Lateral.svg">
        </div>
        <div class="rightvector">
            <div class="email-vertical">
                K.demir1988&#64;gmail.com
            </div>
            <div class="social-links">
                <a href="https://github.com" target="_blank" class="social-link social-github">
                    <img src="assets/img/contactimg/Github(1).svg" alt="GitHub" />
                </a>
                <a href="https://linkedin.com" target="_blank" class="social-link social-linkedin">
                    <img src="assets/img/contactimg/Linkedin(1).svg" alt="LinkedIn" />
                </a>
            </div>

            <img src="assets/img/Vector 1.svg">
        </div>
        <div class="marquee">
            <div class="marquee-content">
                <span>{{ 'marquee.remoteWork' | translate }}</span>
                <span>{{ 'marquee.frontendDeveloper' | translate }}</span>
                <span>{{ 'marquee.basedInBerlin' | translate }}</span>
                <span>{{ 'marquee.openToWork' | translate }}</span>
                <span>{{ 'marquee.newOpportunities' | translate }}</span>
                <!-- Inhalte duplizieren -->
                <span>{{ 'marquee.remoteWork' | translate }}</span>
                <span>{{ 'marquee.frontendDeveloper' | translate }}</span>
                <span>{{ 'marquee.basedInBerlin' | translate }}</span>
                <span>{{ 'marquee.openToWork' | translate }}</span>
                <span>{{ 'marquee.newOpportunities' | translate }}</span>
            </div>
        </div>

    </div>
</main>