main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(40deg, #1c1c1c 35%, #08463b 65%);
  background-size: contain;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-main {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.namecontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p {
    font-family: "Fira Code";
    color: #d9d9d9;
    font-size: 40px;
  }

  h1 {
    font-family: "Karla";
    font-weight: 700;
    font-size: 128px;
    color: #d9d9d9;
  }
}

.btncontainer {
  display: flex;
  gap: 48px;
  width: 363px;
  margin-top: 1rem;
}

.homebtn {
  height: 48px;
  width: auto;
  border-radius: 100px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-family: "Karla";
  font-size: 18px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  span {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    font-family: "Karla";
    white-space: nowrap;
    position: relative;
    left: 0;
    transform: translateX(0);
    transition: none;
  }

  &:hover {
    border: 1px solid #3dcfb6;
  }

  &:hover span {
    color: #3dcfb6;
    animation: moveText 2s linear infinite;
  }

  @keyframes moveText {
    0% {
      transform: translateX(120%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-120%);
    }
  }
}

.marquee {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%) rotate(-3deg);
  width: 100%;
  max-width: 1480px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 10px 0;
  backdrop-filter: blur(5.3px);
  clip-path: polygon(0.24% 0, 100% 0, 99.76% 100%, 0% 100%);

  .marquee-content {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scroll 30s linear infinite;
  }

  span {
    white-space: nowrap;
    font-size: 32px;
    font-family: "Karla";
    font-weight: 40;
    position: relative;
    color: #3dcfb6;
    &::after {
      content: "•";
      color: #3dcfb6;
      margin-left: 30px;
      margin-right: 30px;
    }

    &:last-child::after {
      content: "";
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.leftlateral {
  position: absolute;
  bottom: 0;
  left: 90px;
}

.rightvector {
  position: absolute;
  bottom: 0;
  right: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.social-links {
  position: relative;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.email-vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  transform-origin: center;
  font-family: "Karla";
  font-size: 18px;
  color: white;

  &:hover {
    color: #3dcfb6;
    cursor: pointer;
  }
}

.social-links {
  display: flex;
  gap: 8px;
}

.social-link {
  position: relative;
  display: inline-block;
  cursor: pointer;

  img {
    width: 40px;
    height: 40px;
    transition: filter 0.3s ease;
  }

  &:hover img {
    filter: brightness(0) invert(1);
  }

  &.social-github:hover::after,
  &.social-linkedin:hover::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #3dcfb6;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.mailimg {
  display: none;
}

@media screen and (max-width: 1300px) {
  .namecontainer {
    p {
      font-size: 30px;
    }

    h1 {
      font-size: 100px;
    }
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) and (orientation: landscape) {
  .email-vertical {
    display: none;
  }

  .mailimg {
    display: block;
  }
}

/* Für Tablets im Hochformat und darunter (maximal 768px) */
@media (max-width: 768px) {
  .email-vertical {
    display: none;
  }

  .mailimg {
    display: block;
  }
}

/* Für Smartphones (maximal 480px) */
@media (max-width: 480px) {
  /* Deine CSS-Regeln hier */
}

/* Für sehr kleine Smartphones (maximal 320px) */
@media (max-width: 320px) {
  /* Deine CSS-Regeln hier */
}
